@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
/*  font-family: 'Kristi', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');
/*  font-family: 'Dosis', sans-serif;  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nombreNavbar{
    font-family: 'Kristi', cursive;
    font-size: xx-large;
    color: blue;
    text-decoration: none;
}

.footer p a{
    text-decoration: none;
    background-color: white;
    color: white;
}
.card-body{
    text-align: center;
}
body{
    font-family: 'Dosis', sans-serif;
    background-color: white;
}
.header{
    background-color:blue;
}

.nav-item a{
    color: blue;
    text-decoration: none;
}

.galeriaGrid{
    background: white;
    background: white;
}

.padre{
    background:white;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 3em;
}

img:hover{
    transition-property: all;
    transition-duration: 2s;
    transition: all 2s;
    transform: scale(1.2);
    margin-top: 20px;
}

.icono{
    max-width: 32px;
    height: auto;
    margin: 5px;
}

.redesSociales{
    display: flex;
    flex-direction: row;
    align-items:baseline;
}

footer{
    margin-top: 5px;
    display: grid;
    justify-content: space-around;
    justify-items: center;
    background-color: blue;
}

h1{
    justify-content: center;
    display: grid;
    text-align: center;
}