@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
/*  font-family: 'Kristi', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');
/*  font-family: 'Dosis', sans-serif;  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer p a{
    text-decoration: none;
    background-color: white;
    color: white;
}

body{
    background-image:white;
    min-height: 100vh;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    background-color: white;
}
.header{
    background-color:blue;
    border-color: white;
}

.preHeader--item{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-items: center;
    align-items: baseline;
    box-sizing:border-box;
    background-color: white;
    font-weight: 600;
}

p{
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
    color: black;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

  
@keyframes slidein {
    from {
      margin-left: 10%;
      width: 100%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.nav-item a{
    color: blue;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link.active{
    color: white;
}

.galeriaGrid{
    display: grid;
    background: white;
}

.padre{
    background:white;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 3em;
    
}

.padre img:hover{
    transition-property: all;
    transition-duration: 2s;
    transition: all 2s;
    transform: scale(1);
    border-radius: 20%;
}

img{
    width: 100%;
    height: auto;
    border-radius: 2s;
}

.icono{
    max-width: 32px;
    height: auto;
    margin: 5px;
}

.redesSociales{
    display: flex;
    flex-direction: row;
    align-items:baseline;
}

footer{
    margin-top: 10px;
    padding: 30px;
    display: grid;
    justify-content: space-around;
    justify-items: center;
    background-color: blue;
}

h1{
    margin: 20px;
    justify-content: center;
    display: grid;
    text-align: center;
}

.form_container{
    width: 100%;
    display: grid;
    gap: 2em;
    grid-auto-columns: 50%;
    justify-content: center;
}

.form_title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form_input{
    background-color: white;
    font-size: 1rem;
    padding: .8em 1em;
    border-radius: 0.2em;
}

.form{
    background-color: white;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}
.form_cta{
    font-size: 1rem;
    background-color: #089fe0;
    color: white;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}

.form_input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
    border-radius: 0.2em;
}

.preHeader{
    display: grid;
    width: 100%;
    grid-template-columns: 3fr;
    grid-template-areas:
    "text1 text2 tex3";
}

@media(max-width:576px){
    .form{
        padding: 3.5em 1em;
    }
    .galeriaGrid{
        display: grid;
        background: white;
    }

    .navbar-light .navbar-nav .nav-link.active{
        color: white;
    }
    
    .navbar-light .navbar-toggler{
        color: white;
    }

    .icono {
        max-width: 32px;
        height: auto;
        margin: 5px;
        color: white;
      }

    .padre{
        background:white;
        background: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: 3em;
        
    }
    
    img:hover{
        transition-property: all;
        transition-duration: 2s;
        transition: all 2s;
        transform: scale(1);
        margin-top: 20px;
    }
}

@media(max-width: 768px){
    .galeriaGrid{
        display: grid;
        background: white;
    }

    .navbar-light .navbar-nav .nav-link.active{
        color: white;
    }
    
    .navbar-light .navbar-toggler{
        color: white;
    }

    .icono {
        max-width: 32px;
        height: auto;
        margin: 5px;
        color: white;
      }

    .padre{
        background:white;
        background: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin: 3em;
        
    }
    
    img:hover{
        transition-property: all;
        transition-duration: 2s;
        transition: all 2s;
        transform: scale(1);
        margin-top: 20px;
    }
}

@media(max-width:1200){
    .galeriaGrid{
        display: grid;
        background: white;
    }
    .padre{
        background:white;
        background: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin: 3em;
        
    }
    
    img:hover{
        transition-property: all;
        transition-duration: 2s;
        transition: all 2s;
        transform: scale(1);
        margin-top: 20px;
    }
}

main{
    background-color: blue;
}